#include <zephyr/dt-bindings/i2c/i2c.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/regulator/silabs_dcdc.h>
#include "rh_temp_lux_sensor-pinctrl.dtsi"

/ {
	chosen {
		zephyr,code-partition = &slot0_partition;
		zephyr,console = &usart0;
		zephyr,flash = &flash0;
		zephyr,shell-uart = &usart0;
		zephyr,sram = &sram0;
		zephyr,uart-pipe = &usart0;
	};

	aliases {
		led0 = &red_led;
		led1 = &green_led;
		led2 = &blue_led;
		sw1 = &button1;
		sw2 = &button2;
		light = &veml6030;
		temp = &sht40;
		rtc = &ds1308;
	};

	/*
	 * BTN_1 (PA05) and BTN_2 (PC00) are active low and handled through
	 * GPIO external interrupts by the gpio-keys driver.
	 */
	buttons {
		compatible = "gpio-keys";

		button1: button_1 {
			label = "BTN_1";
			gpios = <&gpioa 5 (GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_KEY_0>;
		};

		button2: button_2 {
			label = "BTN_2";
			gpios = <&gpioc 0 (GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_KEY_1>;
		};
	};

	/* Active low (common anode) RGB LED */
	leds {
		compatible = "gpio-leds";

		red_led: led_red {
			label = "LED_RED";
			gpios = <&gpioc 5 GPIO_ACTIVE_LOW>;
		};

		green_led: led_green {
			label = "LED_GREEN";
			gpios = <&gpioc 4 GPIO_ACTIVE_LOW>;
		};

		blue_led: led_blue {
			label = "LED_BLUE";
			gpios = <&gpioc 3 GPIO_ACTIVE_LOW>;
		};
	};

	zephyr,user {
		/* 1 Hz square wave from the DS1308 SQW/OUT pin (open drain) */
		rtc-1hz-gpios = <&gpiod 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
		/* Test points */
		tp1-gpios = <&gpioa 4 GPIO_ACTIVE_HIGH>;
		tp2-gpios = <&gpioa 6 GPIO_ACTIVE_HIGH>;
	};
};

&cpu0 {
	clock-frequency = <DT_FREQ_M(78)>;
};

&dcdc {
	regulator-boot-on;
	regulator-initial-mode = <SILABS_DCDC_MODE_BUCK>;
	status = "okay";
};

&hfrcodpll {
	clock-frequency = <DT_FREQ_M(78)>;
	clocks = <&hfxo>;
	dpll-autorecover;
	dpll-edge = "fall";
	dpll-lock = "phase";
	dpll-m = <1919>;
	dpll-n = <3839>;
};

/* 32.768 kHz crystal X1 on PD00/PD01 */
&lfxo {
	ctune = <25>;
	precision = <50>;
	status = "okay";
};

&em23grpaclk {
	clocks = <&lfxo>;
};

&em4grpaclk {
	clocks = <&lfxo>;
};

&lcdclk {
	clocks = <&lfxo>;
};

&sysrtcclk {
	clocks = <&lfxo>;
};

/* Debug UART */
&usart0 {
	current-speed = <115200>;
	pinctrl-0 = <&usart0_default>;
	pinctrl-names = "default";
	status = "okay";
};

&i2c0 {
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	status = "okay";

	/* VEML6030 ambient light sensor (ADDR pin low -> 0x10), VEML7700 compatible */
	veml6030: veml6030@10 {
		compatible = "vishay,veml7700";
		reg = <0x10>;
		status = "okay";
	};

	/* SHT40I-AD1B humidity and temperature sensor */
	sht40: sht40@44 {
		compatible = "sensirion,sht4x";
		reg = <0x44>;
		repeatability = <2>;
		status = "okay";
	};

	/* DS1308 RTC, register compatible with the DS1307 */
	ds1308: ds1308@68 {
		compatible = "maxim,ds1307";
		reg = <0x68>;
		sqw-frequency = <1>;
		status = "okay";
	};
};

&gpio {
	status = "okay";
};

&gpioa {
	status = "okay";
};

&gpiob {
	status = "okay";
};

&gpioc {
	status = "okay";
};

&gpiod {
	status = "okay";
};

&sysrtc0 {
	status = "okay";
};

&se {
	status = "okay";
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/* Reserve 48 KiB for the bootloader */
		boot_partition: partition@0 {
			reg = <0x00000000 DT_SIZE_K(48)>;
			label = "mcuboot";
			read-only;
		};

		/* Reserve 1560 KiB for the application in slot 0 */
		slot0_partition: partition@c000 {
			reg = <0x0000c000 DT_SIZE_K(1560)>;
			label = "image-0";
		};

		/* Reserve 1560 KiB for the application in slot 1 */
		slot1_partition: partition@192000 {
			reg = <0x00192000 DT_SIZE_K(1560)>;
			label = "image-1";
		};

		/* Set 32 KiB of storage at the end of the 3200 KiB of flash */
		storage_partition: partition@318000 {
			reg = <0x00318000 DT_SIZE_K(32)>;
			label = "storage";
		};
	};
};
